<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="center-title">Crear tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="custom-form-field">
    <input type="text" id="taskName" class="form-input" placeholder=" ">
    <label for="taskName" class="form-label">Nombre</label>
    <span class="form-hint">Ponle un nombre a tu tarea</span>
  </div>

  <div class="card">
    <span class="title">Enter time</span>
    <div class="time-inputs">
      <div class="input-wrapper">
        <input type="number" class="time-input" value="25" min="0" max="60">
        <span>Minutos</span>
      </div>
      <div class="colon-wrapper">
        <span class="colon">:</span>
      </div>
      <div class="input-wrapper">
        <input type="number" class="time-input" value="00" min="0" max="60">
        <span>Segundos</span>
      </div>
    </div>
  
    <div class="buttons">
      <button class="cancel-button">Cancelar</button>
      <button class="ok-button">OK</button>
    </div>

  </div>
  
  
  <div class="custom-form-field">
    <input type="text" id="taskName" class="form-input" placeholder=" ">
    <label for="taskName" class="form-label">Descripción</label>
    <span class="form-hint">Escribe la descripción de tu tarea</span>
  </div>

  <div class="custom-form-field">
    <input type="text" id="taskName" class="form-input" placeholder=" ">
    <label for="taskName" class="form-label">Fecha</label>
    <span class="form-hint">MM-DD-YYYY</span>
  </div>

  <div class="select-container">
    <label for="priority-select" class="select-label">Prioridad</label>
    <div class="custom-select">
      <select id="priority-select">
        <option value="" disabled selected>Selecciona la prioridad</option>
        <option value="alta">Alta</option>
        <option value="media">Media</option>
        <option value="baja">Baja</option>
      </select>
    </div>
  </div>

  <div class="button-container">
    <button class="save-button" routerLink="/home">Guardar</button>
    <button class="cancelar-button" routerLink="/home">Cancelar</button>
  </div>
  
  
</ion-content>
